.cookies-information {
    box-sizing: border-box;
    font-family: $Exo;
    background-color: #07b1ee;
    height: 65px;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 1000;
    color: $white;
    font-size: 16px;
    padding-left: 60px;
    padding-right: 80px;
    line-height: 30px;
    opacity: 0.87;
    overflow: hidden;
    display: none;
    p {
      text-align: center;
    }
    a {
      color: $white;
      text-decoration: none;
      font-size: 16px;
      font-weight: bold;
    }
    .close-cookies {
      display: block;
      position: absolute;
      width: 30px;
      height: 30px;
      right: 40px;
      top: 15px;
      cursor: pointer;
      background: url('/img/close.svg');
    }
  }
  .cookies-information.close {
    display: none;
  }
  .cookies-information.show {
    display: block;
  }
  @media all and (min-width: 640px) and (max-width: 1180px) {
    .cookies-information {
      height: 100px;
      width: 100vw;
      text-align: center;
    }
  }
  @media all and (min-width: 500px) and (max-width: 640px) {
    .cookies-information {
      height: 150px;
      width: 100vw;
      text-align: center;
    }
  }
  @media all and (min-width: 150px) and (max-width: 500px) {
    .cookies-information {
      height: 200px;
      width: 100vw;
      text-align: center;
      padding-left: 30px;
      padding-right: 30px;
      .close-cookies {
        top: auto;
        bottom: 18px;
        font-size: 32px;
        left: 50%;
        transform: translate(-50%);
      }
    }
  }
  @media all and (min-width: 150px) and (max-width: 359px) {
    .cookies-information {
      height: 230px;
    }
  }