footer {
  width: 100vw;
  height: 100px;
  border-top: 3px solid $lightGray;
  overflow: hidden;
  max-width: 100%;
  .container {
    display: flex;
    flex-direction: row;
    padding-left: 290px;
    height: 100px;
    margin: 0;
    align-items: center;
    a {
      color: $black;
      text-decoration: none;
      cursor: pointer;
      transition: color .35s ease-in-out;
      &:hover {
        color: $green;
      }
      &:first-of-type {
        margin-right: 5px;
      }
    }
    p {
      margin: 0;
      &:first-of-type {
        margin-right: 5px;
      }
      &:nth-of-type(2) {
        margin-right: 5px;
      }
      &:nth-of-type(3) {
        margin-right: 5px;
      }
    }
  }
}
@media all and (max-width: 800px) {
  footer {
    .container {
      padding-left: 0;
      justify-content: center;
    }
  }
}
@media all and (max-width: 400px) {
  footer {
    .container {
      font-size: 14px;
    }
  }
}