.company-info {
  position: absolute;
  left: 310px;
  @media all and (max-width: 1260px) {
  position: static;
  display: block;
  ul {
    text-align: center;
    margin-top: -30px;
  }
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
}
.text-container {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 70px;
  text-align: center;
  @media all and (max-width: 1260px) {
    margin-bottom: 25px;
  }
  @media all and (max-width: 800px) {
    width: 100%;
  }
} 
.positive-validation {
  text-align: center;
  color: $green;
  font-weight: bold;
  margin: 0;
}
.form-container {
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  input, textarea {
    width: 350px;
    height: 50px;
    padding: 0;
    margin-bottom: 10px;
    resize: none;
    padding-left: 30px;
    padding-right: 30px;
    background: $white;
    color: $black;
    outline: none;
    text-align: left;
  }
  input.negative, textarea.negative {
    border: 1px solid $red;
  }
  textarea {
    padding-top: 30px;
    height: 250px;
  }
  ::placeholder {
    color: $black;
  }
  button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    background: $green;
    color: $white;
    transition: background .35s ease-in-out;
    &:hover {
      background: #018e34;
    }
  }
  .wrong {
    color: $red;
    text-align: center;
  }
}
@media all and (max-width: 500px) {
  .form-container {
    width: 100%;
    input {
      width: 100%;
      height: 40px;
    }
    textarea {
      height: 150px;
      width: 100%;
    }
  }
}
@media all and (max-width: 800px) {
    .header-container {
      h1 {
        text-align: center;
      }
    }
}