header {
  font-family: $Exo;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background: $white;
  border-bottom: 3px solid $lightGray;
  display: flex;
  align-items: center;
  overflow: hidden;
  max-width: 100%;
  z-index: 9;
  .hamburger {
    display: none;
  }
  .header-container {
    padding-left: 290px;
    width: 208px;
    .header-logo {
      position: relative;
      width: 208px;
      height: 48px;
      a {
        display: block;
        text-decoration: none;
        color: $green;
        img {
          width: 208px;
          height: 48px;
          display: block;
        }
      }
      .docs {
        position: absolute;
        top: 0;
        right: 0;
        top: 2px;
        right: -48px;
      }
    }
  }
}
@media all and (max-width: 800px) {
  header {
    justify-content: center;
    .hamburger {
      display: block;
      position: absolute;
      top: 20px;
      right: 20px;
      height: 30px;
      width: 30px;
    }
    .header-container {
      padding-left: 0;
    }
  }
}
@media all and (max-width: 400px) {
  header {
    .header-container {
      .hamburger {
        top: 20px;
        right: 10px;
      }
      .header-logo {
        .docs {
          width: 39px;
          left: 50%;
          transform: translate(-50%);
          top: auto;
          bottom: -16px;
        }
      }
    }
  }
}