main {
  background: $white;
  padding-top: 120px;
  padding-left: 310px;
  padding-right: 40px;
  padding-bottom: 20px;
  padding: 120px 40px 20px 310px;
  box-sizing: border-box;
  min-height: 100%;
  p {
    word-wrap: break-word;
  }
}
@media all and (max-width: 800px) {
  main {
    padding: 110px 40px 20px 40px;
    h1 {
      font-size: 30px;
      text-align: center;
    }
  }
}
@media all and (max-width: 400px) {
  main {
    padding: 110px 20px 20px 20px;
  }
}