.sidebar {
  background: $violet;
  width: 270px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 150px;
  padding-right: 20px;
  box-sizing: border-box;
  font-family: $Exo;
  z-index: 10;
  .close {
    display: none;
  }
  .docs {
    color: $green;
    text-align: left;
    display: block;
    margin-bottom: 10px;
    font-size: 15px;
    padding-left: 30px;
    border-right: 3px solid $green;
    width: 270px;
  }
  .forms {
    color: $green;
    text-align: left;
    display: block;
    margin-bottom: 10px;
    font-size: 15px;
    padding-left: 30px;
    box-sizing: border-box;
    border-right: 3px solid $green;
    width: 270px;
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 270px;
    margin-bottom: 20px;
    li {
      margin: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
      &:hover {
        background: $green;
        border-right: 12px solid #00a22f;
      }
      a {
        text-decoration: none;
        color: $white;
        font-size: 14px;
        padding: 7px 10px 5px 30px;
        display: block;
      }
    }
    li.active {
      background: $green;
      border-right: 12px solid #00a22f;
    }
  }
}
@media all and (max-width: 800px) {
  .sidebar {
    width: 100vw;
    height: 0vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s ease-in-out;
    padding-top: 55px;
    padding-right: 0;
    .docs {
      text-align: center;
      margin-bottom: 25px;
      font-size: 20px;
      border-right: 0;
      padding: 0;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
    }
    .forms {
      text-align: center;
      font-size: 20px;
      border-right: 0;
      padding: 0;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
    }
    .close {
      display: block;
      position: absolute;
      top: 20px;
      right: 20px;
      height: 30px;
      width: 30px;
      color: $white;
    }
    ul {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      li {
        text-align: center;
        a {
          padding-left: 0;
          padding-right: 0;
        }
      }
    }
  }
  .sidebar.active {
    opacity: 1;
    visibility: visible;
    transition: opacity .35s ease-in-out;
    height: 100vh;
  }
}
@media all and (max-width: 400px) {
  .sidebar {
    .close {
      right: 10px;
    }
  }
}