body, html {
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: $Exo;
  height: 100%;
}
html, body{
  margin: 0;
  padding: 0;

  min-width: 100%;
  width: 100%;
  max-width: 100%;

  min-height: 100%;
  height: 100%;
  max-height: 100%;
}